{% load static %}
<footer>
    <div class="container">
        <div class="row w-100 align-items-start pt-3 py-4 py-md-0 pt-md-5">
            <div class="sect_1 col-6 col-md-3 my_col pb-3 pb-md-4">
                <ul class="list-unstyled d-grid gap-1 gap-md-3 justify-content-start justify-content-md-center">
                    <h5 class="sect_title pb-md-1">Карта сайта</h5>
                    <li><a href="#" class="links">Гавная</a></li>
                    <li><a href="#" class="links">Результаты</a></li>
                    <li><a href="#" class="links">О нас</a></li>
                    <li><a href="#" class="links">Правила</a></li>
                    <li><a href="#" class="links">Работы</a></li>
                </ul>
            </div>
            <div class="sect_2 col-6 col-md-3 my_col">
                <ul class="list-unstyled d-grid gap-1 gap-md-3 justify-content-start justify-content-md-center">
                    <h5 class="sect_title pb-md-1">Контакты</h5>
                    <li><a href="#" class="links">+998 71 234 56 78</a></li>
                    <li><a href="#" class="links">befirst@gmail.com</a></splian>
                    <li><a href="#" class="links">г. Ташкент, Юнусабадский <br> район, ул Узбекистан</a></li>
                </ul>
            </div>

            <div class="sect_3 col-6 col-md-3 my_col d-grid gap-1 gap-md-2 justify-content-start justify-content-md-center">
                <h5 class="sect_title pb-md-1">Мы в соцсетях:</h5>
                <div class="social_media d-flex gap-1 gap-md-3">
                    <a href="#"><img src="{% static 'main/img/facebook.svg' %}" alt="facebook logo" height="30" width="30"></a>
                    <a href="#"><img src="{% static 'main/img/instagram.svg' %}" alt="instagram logo" height="30" width="30"></a>
                    <a href="#"><img src="{% static 'main/img/telegram.svg' %}" alt="telegram logo" height="30" width="30"></a>
                    <a href="#"><img src="{% static 'main/img/linkedin.svg' %}" alt="linkedin logo" height="30" width="30"></a>
                </div>
            </div>

            <div class="sect_4 col-6 col-md-3 my_col d-grid gap-2 gap-md-5 justify-content-start justify-content-md-center">
                <img src="{% static 'main/img/footer_logo.svg' %}" alt="footer logo" height="165" width="145">
                <span class="ps-md-4 ps-0 text-light">BeFirst 2023 	&#169;</span>
            </div>
        </div>
    </div>
</footer>