{% extends 'layouts/base.html' %}
{% load static %}

{% block extra_css %}
    <style>
        a {
            text-decoration: none;
        }

        .card > h1, .card > h3 {
            color: black;
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="about-us-content">
    <div class="container">
        <div class="row">
            <!-- header start -->
            <div class="col-12 pb-3 pt-3 pt-md-3 pt-lg-5">
                <div class="cartoon-kids-header px-4 px-md-5 pt-3 pt-md-3 pt-lg-5">
                    <div class="w-100 px-0 px-md-2 px-lg-5 py-5 pt-2 pt-md-3 pt-lg-5 d-flex flex-column gap-3">
                        <h2 class="title">О НАС</h2>
                        <p class="greeting">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <!-- header end -->
            <!-- about-us-info start -->
            <div class="about-us-info px-4 px-md-3 px-lg-5 col-12 pt-2 pt-lg-5">
                <div class="w-100 px-2 px-lg-5 py-3">
                    <h3 class="title">О НАС</h3>
                    <p class="addition-title">информация о конкурсах</p>
                    <p class="about-us-text mt-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        nonummy
                        nibh euismod tincidunt
                        ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                        tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
                        iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
                        feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blanddit praesent
                        luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                        illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                        blanddit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                </div>
            </div>
            <!-- about-us-info end -->
            <!-- carousel start -->
            <div class="carousel-1 col-12 py-5 px-3 px-sm-0">
                <div class="px-2 px-lg-3 mb-4">
                    <div class="divider"></div>
                </div>
                <div class="carousel-container d-flex w-100">
                    <a href="#"
                       class="card col-12 col-sm-6 col-md-4 col-lg-3 px-2 px-lg-3 bg-transparent border-0 d-flex justify-content-center"><img
                            src="{% static 'main/img/carousel-img.png' %}" class="w-100 img-fluid" alt=""></a>
                    <a href="#"
                       class="card col-12 col-sm-6 col-md-4 col-lg-3 px-2 px-lg-3 bg-transparent border-0 d-flex justify-content-center"><img
                            src="{% static 'main/img/carousel-img.png' %}" class="w-100 img-fluid" alt=""></a>
                    <a href="#"
                       class="card col-12 col-sm-6 col-md-4 col-lg-3 px-2 px-lg-3 bg-transparent border-0 d-flex justify-content-center"><img
                            src="{% static 'main/img/carousel-img.png' %}" class="w-100 img-fluid" alt=""></a>
                    <a href="#"
                       class="card col-12 col-sm-6 col-md-4 col-lg-3 px-2 px-lg-3 bg-transparent border-0 d-flex justify-content-center"><img
                            src="{% static 'main/img/carousel-img.png' %}" class="w-100 img-fluid" alt=""></a>
                    <a href="#"
                       class="card col-12 col-sm-6 col-md-4 col-lg-3 px-2 px-lg-3 bg-transparent border-0 d-flex justify-content-center"><img
                            src="{% static 'main/img/carousel-img.png' %}" class="w-100 img-fluid" alt=""></a>
                    <a href="#"
                       class="card col-12 col-sm-6 col-md-4 col-lg-3 px-2 px-lg-3 bg-transparent border-0 d-flex justify-content-center"><img
                            src="{% static 'main/img/carousel-img.png' %}" class="w-100 img-fluid" alt=""></a>
                    <a href="#"
                       class="card col-12 col-sm-6 col-md-4 col-lg-3 px-2 px-lg-3 bg-transparent border-0 d-flex justify-content-center"><img
                            src="{% static 'main/img/carousel-img.png' %}" class="w-100 img-fluid" alt=""></a>
                    <a href="#"
                       class="card col-12 col-sm-6 col-md-4 col-lg-3 px-2 px-lg-3 bg-transparent border-0 d-flex justify-content-center"><img
                            src="{% static 'main/img/carousel-img.png' %}" class="w-100 img-fluid" alt=""></a>
                </div>
                <div class="col-12 mt-4 mt-sm-5 control-buttons d-flex justify-content-center align-items-center gap-5">
                    <button class="left" to="left" type="button"></button>
                    <button class="right" to="right" type="button"></button>
                </div>
                <div class="px-2 px-lg-3">
                    <div class="divider mt-4"></div>
                </div>
            </div>
            <!-- carousel end -->
            <!-- some features start -->
            <div class="col-12 some-features position-relative py-5 mb-4 px-5 px-sm-2 px-lg-4">
                <div class="row">
                    <div class="col-12 d-flex px-0 flex-column align-items-center justify-content-center">
                        <h1 class="title text-center">некоторые преимущества</h1>
                        <p class="subtitile mt-3 mt-md-4 px-2 px-sm-5 text-center">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 px-0 px-sm-4 px-xl-3 px-xxl-5 py-3">
                        <div class="d-flex flex-column flex-md-row gap-4 gap-md-3">
                            <div class="features-images mx-auto mx-sm-0">
                                <img class="img-fluid" src="{% static 'main/img/feature-img-1.png' %}" alt="">
                            </div>
                            <p class="features-titles my-auto mb-2 mb-lg-4">ПОЛНОСТЬЮ ОТВЕТСТВЕННЫЙ</p>
                        </div>
                        <p class="fetures-content-text mt-2 mt-md-3">Cum sociis natoque penatibus et magnis dis
                            parturient
                            montes,
                            nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 px-0 px-sm-4 px-xl-3 px-xxl-5 py-3">
                        <div class="d-flex flex-column flex-md-row gap-4 gap-md-3">
                            <div class="features-images mx-auto mx-sm-0">
                                <img class="img-fluid" src="{% static 'main/img/feature-img-2.png' %}" alt="">
                            </div>
                            <p class="features-titles my-auto mb-2 mb-lg-4">НЕОГРАНИЧЕННЫЕ ВАРИАНТЫ</p>
                        </div>
                        <p class="fetures-content-text mt-2 mt-md-3">Cum sociis natoque penatibus et magnis dis
                            parturient
                            montes,
                            nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 px-0 px-sm-4 px-xl-3 px-xxl-5 py-3">
                        <div class="d-flex flex-column flex-md-row gap-4 gap-md-3">
                            <div class="features-images mx-auto mx-sm-0">
                                <img class="img-fluid" src="{% static 'main/img/feature-img-3.png' %}" alt="">
                            </div>
                            <p class="features-titles my-auto mb-2 mb-lg-4">бесплатного участия</p>
                        </div>
                        <p class="fetures-content-text mt-2 mt-md-3">Cum sociis natoque penatibus et magnis dis
                            parturient
                            montes,
                            nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 px-0 px-sm-4 px-xl-3 px-xxl-5 py-3">
                        <div class="d-flex flex-column flex-md-row gap-4 gap-md-3">
                            <div class="features-images mx-auto mx-sm-0">
                                <img class="img-fluid" src="{% static 'main/img/feature-img-4.png' %}" alt="">
                            </div>
                            <p class="features-titles my-auto mb-2 mb-lg-4">электронная коммерция</p>
                        </div>
                        <p class="fetures-content-text mt-2 mt-md-3">Cum sociis natoque penatibus et magnis dis
                            parturient
                            montes,
                            nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 px-0 px-sm-4 px-xl-3 px-xxl-5 py-3">
                        <div class="d-flex flex-column flex-md-row gap-4 gap-md-3">
                            <div class="features-images mx-auto mx-sm-0">
                                <img class="img-fluid" src="{% static 'main/img/feature-img-5.png' %}" alt="">
                            </div>
                            <p class="features-titles my-auto mb-2 mb-lg-4">бесплатное образование</p>
                        </div>
                        <p class="fetures-content-text mt-2 mt-md-3">Cum sociis natoque penatibus et magnis dis
                            parturient
                            montes,
                            nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 px-0 px-sm-4 px-xl-3 px-xxl-5 py-3">
                        <div class="d-flex flex-column flex-md-row gap-4 gap-md-3">
                            <div class="features-images mx-auto mx-sm-0">
                                <img class="img-fluid" src="{% static 'main/img/feature-img-6.png' %}" alt="">
                            </div>
                            <p class="features-titles my-auto mb-2 mb-md-4">ПОДДЕРЖИВАТЬ</p>
                        </div>
                        <p class="fetures-content-text mt-2 mt-md-3">Cum sociis natoque penatibus et magnis dis
                            parturient
                            montes,
                            nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.</p>
                    </div>
                </div>
            </div>
            <!-- some features end -->

            <!-- experts start -->
            {#            <div class="experts col-12 px-0">#}
            {#                <img data-lazy="{% static 'main/img/experts-4.png' %}"/>#}
            {#            </div>#}
            <div class="carousel-1 col-12 py-5 px-3 px-sm-0">
                <h1 style="text-align: center; margin-top: -30px">Наши экспорты</h1>
                <div class="carousel-container mt-4 d-flex w-100">
                    <div
                       class="card col-12 col-sm-6 col-md-4 col-lg-3 px-2 px-lg-3 bg-transparent border-0 d-flex justify-content-center"><img
                            src="{% static 'main/img/experts-1.png' %}" class="w-100 img-fluid" alt="">
                        <h1>Aziz Alixanov</h1>
                        <h3>Export</h3>
                    </div>
                    <div
                       class="card col-12 col-sm-6 col-md-4 col-lg-3 px-2 px-lg-3 bg-transparent border-0 d-flex justify-content-center"><img
                            src="{% static 'main/img/experts-2.png' %}" class="w-100 img-fluid" alt="">
                        <h1>Aziz Alixanov</h1>
                        <h3>Export</h3></div>
                    <div
                       class="card col-12 col-sm-6 col-md-4 col-lg-3 px-2 px-lg-3 bg-transparent border-0 d-flex justify-content-center"><img
                            src="{% static 'main/img/experts-3.png' %}" class="w-100 img-fluid" alt="">
                        <h1>Aziz Alixanov</h1>
                        <h3>Export</h3></div>
                    <div
                       class="card col-12 col-sm-6 col-md-4 col-lg-3 px-2 px-lg-3 bg-transparent border-0 d-flex justify-content-center"><img
                            src="{% static 'main/img/experts-4.png' %}" class="w-100 img-fluid" alt="">
                        <h1>Aziz Alixanov</h1>
                        <h3>Export</h3></div>
                </div>
                <div class="px-2 px-lg-3">
                    <div class="divider mt-4"></div>
                </div>
            </div>
            <!-- experts end -->

        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $('.lazy').slick({
            lazyLoad: 'ondemand',
            slidesToShow: 3,
            slidesToScroll: 1
        });
    </script>
{% endblock %}
