{% extends 'layouts/base.html' %}

{% load static %}
{% block content %}

    <section class="home_page">
        <div class="container">
            <div class="row">
                <div class="d-flex col-lg-12 m-auto">
                    <div class="left_side col-lg-6">
                        <div class="text_h1 col-5 text-white pt-2 pb-2">
                            <h1>МЕРОПРИЯТИЯ ОБРАЗОВАТЕЛЬНОГО ПОРТАЛА</h1>
                        </div>
                        <img src="{% static 'main/img/logo_befirst.png' %}" alt="logo_brand">
                    </div>
                    <div class="right_side  col-lg-6">
                        <img src="{% static 'main/img/two_boys.png' %}" alt="boys_image">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}