{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="unver_box pt-4">
        <div class="container">
            <div class="header_content_1 main_padding">
                <h1 class="fs_70">ПРАВИЛА</h1>
            </div>
            <div class="rules pb-5">
                <div class="main_rules main_padding px-1 px-md-2">
                    <button type="button" class="custom_collapsible custom_collapsible_show bg-transparent">ПОЛИТИКА
                        КОНФИДЕНЦИАЛЬНОСТИ
                    </button>
                    <div class="content bg-white py-3">
                        <p class="text_rules">
                            Положения Политики конфиденциальности в последний раз были обновлены 03-11-2021
                            Общие положения
                        </p>
                        <ol class="px-3">
                            <li class="text_rules">Оператором по обработке персональных данных сайта https://оценика.рф
                                является Образовательный
                                портал «НИКА» (ИП Исупов Андрей Васильевич, ИНН 434562712162, ОГРН 316435000061224)
                                (далее —
                                ОП
                                «НИКА», оператор).
                            </li>
                            <li class="text_rules">Данная политика конфиденциальности распространяется на всех клиентов
                                (далее — Посетители,
                                пользователи), которые зашли на сайт https://оценика.рф (далее — Сайт), на их действия,
                                которые
                                они
                                могут совершать на Сайте, включая (но не ограничиваясь) регистрацию на Сайте (в том
                                числе и
                                через
                                вход посредством своего аккаунта в социальных сетях), оформление заявки на участие (и
                                само
                                участие)
                                в конкурсах, олимпиадах, викторинах, тестах, размещение (публикация) личных материалов,
                                отзывов,
                                чтение публикуемой информации, предоставление и получение данных любого типа информации
                                (далее —
                                Услуги).
                            </li>
                            <li class="text_rules">Посетители безоговорочно согласны с Политикой конфиденциальности при
                                использовании Услуг, в
                                которой излагаются цели и способы сбора информации, а также условия её хранения и
                                прочее.
                                Если
                                Посетитель не согласен с данной политикой конфиденциальности, то он не имеет права
                                пользоваться
                                Услугами Сайта.
                            </li>
                            <li class="text_rules">Оператор для достижения целей осуществляет: сбор, систематизацию,
                                накопление, хранение,
                                уточнение
                                (обновление, изменение), извлечение, использование, передачу (предоставление, доступ),
                                блокирование,
                                удаление, уничтожение персональных данных. Ни волею ОП «НИКА», ни по решению каких-либо
                                третьих
                                лиц,
                                за исключением случаев, предусмотренных законом Российской Федерации, персональные
                                данные не
                                могут
                                быть переданы третьим лицам без особого и ясного согласия на это Посетителя.
                                Обработка персональных данных осуществляется Оператором смешанным путем: как с
                                использованием,
                                так и
                                без использования средств автоматизации.
                                При сборе персональных данных Оператор обеспечивает их запись, систематизацию,
                                накопление,
                                хранение,
                                уточнение (обновление, изменение), извлечение персональных данных граждан Российской
                                Федерации с
                                использованием баз данных, расположенных в информационных системах, находящихся на
                                территории
                                Российской Федерации.
                            </li>
                        </ol>
                    </div>
                    <button type="button" class="custom_collapsible custom_collapsible_show bg-transparent">Передаваемые
                        права третьим лицам
                    </button>
                    <div class="content bg-white py-3">
                        <p class="text_rules">
                            Положения Политики конфиденциальности в последний раз были обновлены 03-11-2021
                            Общие положения
                        </p>
                        <ol class="px-3">
                            <li class="text_rules">Оператором по обработке персональных данных сайта https://оценика.рф
                                является Образовательный
                                портал «НИКА» (ИП Исупов Андрей Васильевич, ИНН 434562712162, ОГРН 316435000061224)
                                (далее —
                                ОП
                                «НИКА», оператор).
                            </li>
                            <li class="text_rules">Данная политика конфиденциальности распространяется на всех клиентов
                                (далее — Посетители,
                                пользователи), которые зашли на сайт https://оценика.рф (далее — Сайт), на их действия,
                                которые
                                они
                                могут совершать на Сайте, включая (но не ограничиваясь) регистрацию на Сайте (в том
                                числе и
                                через
                                вход посредством своего аккаунта в социальных сетях), оформление заявки на участие (и
                                само
                                участие)
                                в конкурсах, олимпиадах, викторинах, тестах, размещение (публикация) личных материалов,
                                отзывов,
                                чтение публикуемой информации, предоставление и получение данных любого типа информации
                                (далее —
                                Услуги).
                            </li>
                            <li class="text_rules">Посетители безоговорочно согласны с Политикой конфиденциальности при
                                использовании Услуг, в
                                которой излагаются цели и способы сбора информации, а также условия её хранения и
                                прочее.
                                Если
                                Посетитель не согласен с данной политикой конфиденциальности, то он не имеет права
                                пользоваться
                                Услугами Сайта.
                            </li>
                            <li class="text_rules">Оператор для достижения целей осуществляет: сбор, систематизацию,
                                накопление, хранение,
                                уточнение
                                (обновление, изменение), извлечение, использование, передачу (предоставление, доступ),
                                блокирование,
                                удаление, уничтожение персональных данных. Ни волею ОП «НИКА», ни по решению каких-либо
                                третьих
                                лиц,
                                за исключением случаев, предусмотренных законом Российской Федерации, персональные
                                данные не
                                могут
                                быть переданы третьим лицам без особого и ясного согласия на это Посетителя.
                                Обработка персональных данных осуществляется Оператором смешанным путем: как с
                                использованием,
                                так и
                                без использования средств автоматизации.
                                При сборе персональных данных Оператор обеспечивает их запись, систематизацию,
                                накопление,
                                хранение,
                                уточнение (обновление, изменение), извлечение персональных данных граждан Российской
                                Федерации с
                                использованием баз данных, расположенных в информационных системах, находящихся на
                                территории
                                Российской Федерации.
                            </li>
                        </ol>
                    </div>
                    <button type="button" class="custom_collapsible custom_collapsible_show bg-transparent">Регистрация
                        Посетителей
                    </button>
                    <div class="content bg-white py-3">
                        <p class="text_rules">
                            Положения Политики конфиденциальности в последний раз были обновлены 03-11-2021
                            Общие положения
                        </p>
                        <ol class="px-3">
                            <li class="text_rules">Оператором по обработке персональных данных сайта https://оценика.рф
                                является Образовательный
                                портал «НИКА» (ИП Исупов Андрей Васильевич, ИНН 434562712162, ОГРН 316435000061224)
                                (далее —
                                ОП
                                «НИКА», оператор).
                            </li>
                            <li class="text_rules">Данная политика конфиденциальности распространяется на всех клиентов
                                (далее — Посетители,
                                пользователи), которые зашли на сайт https://оценика.рф (далее — Сайт), на их действия,
                                которые
                                они
                                могут совершать на Сайте, включая (но не ограничиваясь) регистрацию на Сайте (в том
                                числе и
                                через
                                вход посредством своего аккаунта в социальных сетях), оформление заявки на участие (и
                                само
                                участие)
                                в конкурсах, олимпиадах, викторинах, тестах, размещение (публикация) личных материалов,
                                отзывов,
                                чтение публикуемой информации, предоставление и получение данных любого типа информации
                                (далее —
                                Услуги).
                            </li>
                            <li class="text_rules">Посетители безоговорочно согласны с Политикой конфиденциальности при
                                использовании Услуг, в
                                которой излагаются цели и способы сбора информации, а также условия её хранения и
                                прочее.
                                Если
                                Посетитель не согласен с данной политикой конфиденциальности, то он не имеет права
                                пользоваться
                                Услугами Сайта.
                            </li>
                            <li class="text_rules">Оператор для достижения целей осуществляет: сбор, систематизацию,
                                накопление, хранение,
                                уточнение
                                (обновление, изменение), извлечение, использование, передачу (предоставление, доступ),
                                блокирование,
                                удаление, уничтожение персональных данных. Ни волею ОП «НИКА», ни по решению каких-либо
                                третьих
                                лиц,
                                за исключением случаев, предусмотренных законом Российской Федерации, персональные
                                данные не
                                могут
                                быть переданы третьим лицам без особого и ясного согласия на это Посетителя.
                                Обработка персональных данных осуществляется Оператором смешанным путем: как с
                                использованием,
                                так и
                                без использования средств автоматизации.
                                При сборе персональных данных Оператор обеспечивает их запись, систематизацию,
                                накопление,
                                хранение,
                                уточнение (обновление, изменение), извлечение персональных данных граждан Российской
                                Федерации с
                                использованием баз данных, расположенных в информационных системах, находящихся на
                                территории
                                Российской Федерации.
                            </li>
                        </ol>
                    </div>
                    <button type="button" class="custom_collapsible custom_collapsible_show bg-transparent">Цели
                        использования персональной информации
                    </button>
                    <div class="content bg-white py-3">
                        <p class="text_rules">
                            Положения Политики конфиденциальности в последний раз были обновлены 03-11-2021
                            Общие положения
                        </p>
                        <ol class="px-3">
                            <li class="text_rules">Оператором по обработке персональных данных сайта https://оценика.рф
                                является Образовательный
                                портал «НИКА» (ИП Исупов Андрей Васильевич, ИНН 434562712162, ОГРН 316435000061224)
                                (далее —
                                ОП
                                «НИКА», оператор).
                            </li>
                            <li class="text_rules">Данная политика конфиденциальности распространяется на всех клиентов
                                (далее — Посетители,
                                пользователи), которые зашли на сайт https://оценика.рф (далее — Сайт), на их действия,
                                которые
                                они
                                могут совершать на Сайте, включая (но не ограничиваясь) регистрацию на Сайте (в том
                                числе и
                                через
                                вход посредством своего аккаунта в социальных сетях), оформление заявки на участие (и
                                само
                                участие)
                                в конкурсах, олимпиадах, викторинах, тестах, размещение (публикация) личных материалов,
                                отзывов,
                                чтение публикуемой информации, предоставление и получение данных любого типа информации
                                (далее —
                                Услуги).
                            </li>
                            <li class="text_rules">Посетители безоговорочно согласны с Политикой конфиденциальности при
                                использовании Услуг, в
                                которой излагаются цели и способы сбора информации, а также условия её хранения и
                                прочее.
                                Если
                                Посетитель не согласен с данной политикой конфиденциальности, то он не имеет права
                                пользоваться
                                Услугами Сайта.
                            </li>
                            <li class="text_rules">Оператор для достижения целей осуществляет: сбор, систематизацию,
                                накопление, хранение,
                                уточнение
                                (обновление, изменение), извлечение, использование, передачу (предоставление, доступ),
                                блокирование,
                                удаление, уничтожение персональных данных. Ни волею ОП «НИКА», ни по решению каких-либо
                                третьих
                                лиц,
                                за исключением случаев, предусмотренных законом Российской Федерации, персональные
                                данные не
                                могут
                                быть переданы третьим лицам без особого и ясного согласия на это Посетителя.
                                Обработка персональных данных осуществляется Оператором смешанным путем: как с
                                использованием,
                                так и
                                без использования средств автоматизации.
                                При сборе персональных данных Оператор обеспечивает их запись, систематизацию,
                                накопление,
                                хранение,
                                уточнение (обновление, изменение), извлечение персональных данных граждан Российской
                                Федерации с
                                использованием баз данных, расположенных в информационных системах, находящихся на
                                территории
                                Российской Федерации.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}